* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


.container {
    padding: 2rem;
    width: 50vw;
    height: 50vw;
    margin: 5rem auto 5rem auto;
    border: 5px outset rgb(0, 238, 255);
    border-radius: 2rem;
    max-width: 100rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgb(200, 255, 0), ivory);
}


@media screen and (max-width: 700px) {
    body {
        background-color: lightcoral;
    }
    .container {
        max-width: 80rem;
        font-size: 40%;
    }
}

@media screen and (min-width: 700px) {
    body {
        background-image: -webkit-repeating-radial-gradient(rgb(248, 208, 8),rgb(121, 8, 234));
    }
}
