* {
    box-sizing: border-box;
    margin: 0;
    /* margin-bottom: 1rem; */
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    color:darkred;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.container {
    padding: 2rem;
    width: fit-content;
    height: fit-content;
    margin: 5rem auto 5rem auto;
    border: 5px outset rgb(0, 238, 255);
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(360deg, rgb(200, 255, 0), ivory, rgb(8, 165, 244));
    box-shadow: 0 0 5rem rgb(200, 169, 14);
}

.container h1:hover {
    font-size: 2rem;
    transition: 500ms;
    transform: scale(1.5);
}

/* HUD => Countdownr */
.countdown {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 1rem auto;
}

#countdownText, #countdownTimer{
    font-size: 1rem;
    color:rgb(207, 25, 204);
    animation: blinker 2s linear infinite; 
}

/* inspired by: https://stackoverflow.com/questions/16344354/how-to-make-blinking-flashing-text-with-css-3 */
@keyframes blinker {
    10% {
        opacity: 0;
    }
}

.btnStart {
    margin: 2rem;
}

.btnStart:hover {
    box-shadow: 1 1 5px rgb(97, 5, 5);
    cursor: pointer;
    transition: 900ms;
    transform: scale(2);
    background: rgb(231, 132, 185);
}

/* HUD => Progress Bar */
#questionText, #scoreText {
    font-size: 1.5rem;
    color:rgb(116, 13, 190);
}

/* Question & Score properties */
.hud-item {
    color:rgb(121, 8, 234);
    margin: 1rem auto 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    line-height: 2;
}

/* Questions div */
#question {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 1rem auto;
    font-size: 1rem;
    color:rgb(13, 21, 80) ;
    /* background-image:-webkit-repeating-radial-gradient(white, rgb(206, 142, 142));
    border-radius: 5px;
    min-width: 25rem; */
}

/* Answers/options A, B, C, D div */
.choice-container {
    display: flex;
    margin: 1rem 10%;
    width: 80%;
    border-radius: 5px;
    background: rgb(102, 4, 172);
    font-size: 1rem;
}

.choice-container p {
    margin: 1rem;
    color: white;
}

.choice-container:hover {
    box-shadow: 0 0 15px rgb(97, 5, 5);
    cursor: pointer;
    transition: 900ms;
    transform: scale(1.2);
    background: deeppink;
}

@media screen and (max-width: 768px) {
    body {
        background-image: -webkit-repeating-radial-gradient(rgb(147, 8, 234),rgb(231, 78, 7));
    }
    .container {
        font-size: 50%;
        max-width: 60rem;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-image: -webkit-repeating-radial-gradient(rgb(248, 208, 8),rgb(121, 8, 234));
    }
    .container {
        font-size: 1rem;
        max-width: 90rem;
    }
}
