* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


.container {
    padding: 2rem;
    width: 50vw;
    height: 50vw;
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: 10rem;
    border: 2px dotted greenyellow;
    border-radius: 2rem;
    max-width: 100rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    body {
        background-color: lightcoral;
    }
    .container {
        max-width: 80rem;
        font-size: 40%;
    }   
}

@media screen and (min-width: 700px) {
    body {
        background-color: rgb(254, 38, 139);
    }
}