* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


#home {
    padding: 2rem;
    width: 50vw;
    height: 50vw;
    margin: 5rem auto 5rem auto;
    border: 5px outset rgb(110, 20, 4);
    border-radius: 2rem;
    max-width: 100rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, orange, ivory);
}

.typewriter h1 h4 {
    /* //hide at refresh */
    overflow: hidden;
    border-right: .2em solid purple;
    white-space: nowrap;
    /* //scroll effect */
    margin: 0 auto;
    letter-spacing: 1em;
    animation:
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

@keyframes typing {
    from { width: 0}
    to { width: 100%}
}

@keyframes blink-caret {
    from, to { border-color: transparent}
    50% { border-color: white}
}

.btn {
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    border-radius: 2rem;
    padding: 2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: rgb(0, 255, 213);
    background: linear-gradient(purple, rgb(104, 11, 151));
}

.btn:hover {
    box-shadow: 0 0 15px rgb(97, 5, 5);
    cursor: pointer;
    transition: 500ms;
    transform: scale(1.5);
    background: deeppink;
}

@media screen and (max-width: 750px) {
    body {
        background-color: rgb(12, 167, 239);
    }
    #home {
        max-width: 50%;
        font-size: 50%;
    }
    .btn:hover {
        box-shadow: 1rem rgb(103, 8, 218);
        cursor: pointer;
        transition: 500ms;
        transform: scale(1.5);
        background: deeppink;
    }
}

@media screen and (min-width: 750px) {
    body {
        background-image: -webkit-repeating-radial-gradient(rgb(12, 230, 201), rgb(191, 8, 252));
    }
}
